<header id="header">
    <ul class="icons">
        <li class="contact"><a href="mailto:gabrielhermsen@gmail.com" class="icon solid fa-envelope">&nbsp;&nbsp;gabrielhermsen@gmail.com</a></li>
        <li><a href="https://www.linkedin.com/in/gabrielhermsen/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
        <li><a href="#" class="icon brands fa-xing"><span class="label" target="_blank">Xing</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label" target="_blank">GitHub</span></a></li>
        <li><a href="#" class="icon brands fa-medium-m"><span class="label" target="_blank">Medium</span></a></li>
    </ul>
</header>
<ul class="icons" style="text-align: left;">
    <li><a href="/gabrielhermsen/index.html">Home</a></li>
    <li><a href="/gabrielhermsen/cv.html">CV</a></li>
    <li><a href="/gabrielhermsen/projects/power_bi.html"><strong>Power BI Projects</strong></a></li>
</ul>