<section>
    <header class="major">
        <h2>I am here to help you solve your problems with...</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon solid fa-table"></span>
            <div class="content">
                <h3>Data Analysis</h3>
                <p>What if several assumptions within your business are not true? Believe me, a well-done data analysis
                   will confirm or deny these assumptions and consequently solve several problems within your business.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-brain"></span>
            <div class="content">
                <h3>Data Analytics</h3>
                <p>The success of every business is made by the decisions that are taken every day. The preparation of 
                   data to "feed" machine learning models will help your business to be prepared for any future decision.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-chart-bar"></span>
            <div class="content">
                <h3>Data Visualization</h3>
                <p>All information generated through data needs to be presented in a way that stakeholders are able to directly
                    see what is relevant for them. Whether through charts, reports or dashboards, the art of presenting data can
                    bring immense benefits to everyone connected to your business.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-laptop-code"></span>
            <div class="content">
                <h3>Tools</h3>
                <p>Solving problems using <strong>Python, R, SQL, PowerBI</strong> and <strong>Excel</strong>.</p>
            </div>
        </article>
    </div>
</section>