<header class="major">
    <h2>Last Projects</h2>
</header>
<div class="posts">
    <article>
        <a href="/projects/python/exploratory_data_analysis_of_sao_paulos_policy_murder_reports.html" class="image"><img src="/images/projects/python/sao_paulo/cover.jpg" alt="" /></a>
        <h3>Exploratory Data Analysis of São Paulo's Policy Murder Reports</h3>
        <ul class="actions">
            <li><a href="/projects/python/exploratory_data_analysis_of_sao_paulos_policy_murder_reports.html" class="button">More</a></li>
        </ul>
    </article>
    <article>
        <a href="/projects/python/data_analysis_from_airbnb_munich.html" class="image"><img src="/images/projects/python/data_analysis_from_airbnb_munich/cover2.jpg" alt="" /></a>
        <h3>Data Analysis from Airbnb - Munich</h3>
        <ul class="actions">
            <li><a href="/projects/python/data_analysis_from_airbnb_munich.html" class="button">More</a></li>
        </ul>
    </article>
</div>