<header class="major">
    <h2>Projects with Power BI</h2>
</header>
<div class="posts">
    <article>
        <a href="/gabrielhermsen/projects/power_bi/logistic_dashboard.html" class="image"><img src="/gabrielhermsen/images/projects/power_bi/logistic_dashboard/cover.PNG" alt="" /></a>
        <h3>Logistic Dashboard with Power BI</h3>
        <ul class="actions">
            <li><a href="/gabrielhermsen/projects/power_bi/logistic_dashboard.html" class="button">More</a></li>
        </ul>
    </article>
</div>
